.pedidos-visao-adm{
    /* border: solid orange; */
    height: 90vh;
}
.titulo-pedidos-adm{
    margin-top: 2%;
    /* border: solid; */
    margin-left: 1%;
    display: flex;
}
.icones-geral-adm{
    border: solid saddlebrown;
    width: 30%;
    margin-left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.pedidos-encontrados-adm{
    border: solid;
}
/* Botôes icones */

.icons-notification-adm{
    border: solid 1px #03374C;
    border-radius: 10px;
}