.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-excluir {
  background: white;
  padding: 10x 30px;
  border-radius: 12px;
  text-align: center;
  width: 35%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.container-imagemtexto{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  margin-left: -1%;
}

.icone-excluir {
  width: 105px;
  height: 105px;
  margin-bottom: 15px;
  margin-top: 5%
}

.texto-excluir {
  font-size: 15px;
  color: #023B52;
  margin: 35px 0 20px;
  font-family: 'Inknut Antiqua', serif;
  font-weight: 500;
  font-style: normal;
}

.botoes-excluir {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom:3%;
}

.btn-sim, .btn-nao {
  padding: 1px 15px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  font-family: 'Inknut Antiqua', serif;
  font-weight: 300;
  font-style: normal;
}

.btn-sim {
  color: #023B52;
}

.btn-nao {
  background-color: #034E61;
  color: white;
}
