.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-conteudo {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  width: 660px;
  height: 10%;
  position: relative;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.modal-fechar {
  position: absolute;
  top: 22px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #067591;
}

.modal-titulo {
  text-align: center;
  font-family: 'Inknut Antiqua', serif;
  margin-bottom: 20px;
  color: #023B52;
}

/* Container com foto e inputs */
.editar-conteudo {
  display: flex;
  gap: 35px;
  align-items: flex-start;
}

.editar-foto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  height: 300px;
}

.editar-foto {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #7AB7BE;
  margin-bottom: 15px;
  margin-top: 35%;
}

.botao-alterar-foto {
  background: #68A7AE;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  color: #fff;
  font-family: 'Inknut Antiqua', serif;
  cursor: pointer;
  font-size: 100%;
}

.editar-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 9%;
}

.editar-form input {
  padding: 7px;
  border: 1px solid #68A7AE;
  border-radius: 6px;
  font-family: 'Inknut Antiqua', serif;
}

/* Footer */
.editar-footer {
  margin-top: 20px;
  text-align: center;
}

.botao-salvar {
  background: #067591;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Inknut Antiqua', serif;
  font-size: 120%;
  margin-top: 4%;
}
.botao-salvar:hover {
  background: #055a6c;
}
