/* Estilos do menu lateral */
.sidebar {
  background-color: #a2c9cd;
  height: 100vh;
  width: 18%;
  border-radius: 0 20px 20px 0;
  font-family: "Poppins", sans-serif;
  
}

.logo-escrita-adm {
  /* border: solid; */
  height: 16%;
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  font-family: "Inknut Antiqua", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
}

/* Links do menu */
.menu-item {  
  display: block;
  padding: 10%;
  margin-bottom: 11%;
  border-radius: 8%;
  color: #03374c;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  font-size: auto;
  transition: all 0.2s;
}

.menu-item:hover {
  background-color: #bde5e5;
}

/* Página ativa */
.menu-item:active {
  background-color: #e0f7fa; /* botão ativo com fundo claro */
  color: #0b3d91; /* texto permanece azul escuro */
}

.butons-sidebar {
  /* border: solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 5%; */
}
.butons-sidebar.active {
  background-color: #d9f3f3;
  font-weight: bold;
}

.span-cor-logo-spectrum-adm {
  /* border: 2px solid; */
  color: #034e61;
}


/* //////////////////////////////// */

/* Container dos ícones (Fica na parte inferior da sidebar) */
.icones-geral-adm-sidebar {
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 15px; 
  padding: 18px 0;
  margin-top: auto; 
  box-sizing: border-box;
}

/* Estilo comum para todos os ícones (DRY - Don't Repeat Yourself) */
.icons-notification-adm-sidebar,
.icon-search-adm-sidebar,
.icon-perfil-adm-sidebar {
  border: 1px solid #03374c;
  border-radius: 10px; 
  width: 18%;
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #03374c; 
  cursor: pointer;
  transition: all 0.3s ease; 
  background-color: transparent;
}

/* Efeito Hover (Quando passa o mouse) */
.icons-notification-adm-sidebar:hover,
.icon-search-adm-sidebar:hover,
.icon-perfil-adm-sidebar:hover {
  background-color: #03374c; 
  color: #fff; 
  transform: translateY(-3px); 
}

/* Ícones dentro dos botões (SVG ou FontAwesome) */
.icones-geral-adm-sidebar svg, 
.icones-geral-adm-sidebar i {
  font-size: 1.2rem; 
}

/* ////////// Responsividade ////////// */


@media (max-width: 768px) {
  .icones-geral-adm-sidebar {
    gap: 10px;
  }

  .icons-notification-adm-sidebar,
  .icon-search-adm-sidebar,
  .icon-perfil-adm-sidebar {
    width: 35px;
    height: 50px; /
  }
}