.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  width: 400px;
  max-width: 95%;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  text-align: center;
  font-family: "Inknut Antiqua", serif;
}

.modal h2 {
  font-size: 40px;
  color: #1C476A;
  margin: 0;
}

.modal p {
  margin: 20px 0;
  font-weight: bold;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-sim {
  background: #B72E66;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.btn-nao {
  background: #68A7AE;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
