body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.div-favoritos-principal{
    /* border: 2px solid; */
    width: 100%;
    height: 100vh;
    box-sizing: border-box; 
}

.container-favoritos {
    /* border: 2px solid; */
    padding: 20px;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}

.titulo-fav{
    color: #03374C;
}

.lista-favoritos {
    /* border: 2px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.produto-favorito {
    border: 2px solid #dadada;
    width: 18%; /* Ajuste o tamanho */
    height: auto;
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.produto-favorito:hover {
    transform: scale(1.05);
}

.produto-favorito .link-produto-card {
    /* border: 2px solid; */
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.produto-favorito .icone-favorito {
    /* border: 2px solid; */
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 100;
}

.produto-favorito .foto-produtos {
    /* border: 2px solid; */
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.produto-favorito .produto-detalhes {
    /* border: 2px solid; */
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.preco-produto-favorito{
    /* border: 2px solid; */
    width: 50%;
    padding: 2px;
    padding-left: 10px;
}
.cor-amarela-preco-favorito{
    color: #ffa723;
}
