.fundoCarrinho{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/*  */
.NavbarCarrinho{
   background-color: #A2C9CD;  
     height: 9vh;  
}

.foto-de-fundo-carrinho{

height: 100%;
width: 100%;
/* border: solid red;    */
 
}

.sssssss{
    /* border: solid #6427b3; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: aqua;
    height: 100%;
    background-image: url('CarrinhoFundooooo.png');
  
}

.CoisaBrancaCarrinho{
 background-color: rgba(255, 255, 255, 0.5);
 height: 88vh; 
      width: 81%;
      border: solid;
  margin-top: 1%;
  border-radius: 12px;
  padding: 1%;
        
}
.Comprar-tudo{

  /* border: solid #ff0037; */
  height: 6%;
  width: 15%;
    border-radius: 7px;
    margin-bottom: 1%; 
    background-color:#BDEBEB;
}
.div-checkbox-comprar-tudo{

  /* border: solid #4523da; */
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   

}



.Comprar-tudo-checkbox{

  height: 69%;
  width: 65%;
  appearance: none;
  /* border: 2px solid #30cfd0; */
    background-color:#ffffffb2;
  border-radius: 5px ;
  display: inline-block;
  position: relative;
  /* margin-right: 10px; */
  margin-left: 7px;
  cursor: pointer;

}

.Comprar-tudo-checkbox:before {

  content: "";
  background-color: #A2C9CC;
  display: block;
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 17px;
  height: 17px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;

}
.Comprar-tudo-checkbox:focus,
.Comprar-tudo-checkbox:active {

  border-color: #30cfd0; 
}

.Comprar-tudo-checkbox:checked:before{

  transform: translate(-50%, -50%) scale(1);

}
.Comprar-tudo-checkbox-label {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.div-checkbox-e-imagem{
  /* border: solid #d80b0b;   */
    height: 100%;
    width: 100%;
     display: flex;

}

.div-imagem-produto-carrinho{

  /* border: solid #da1111; */
   height: 100%;
    width: 13%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-carrinho-logo{

/* border: solid #2ed652;   */
background-color: #ffffff;
 height: 84%;
 width: 80%;
 border-radius: 12%;

}
.imagem-mesmo-produtos-carrinho{
  height: 100%;
  overflow: hidden;
  width: 100%;  
  border-radius: 12%;
}

.Descrição-estrela{

  border: #da1111;

}
.checkbox-card{
  height: 26%;
  width: 27%; 
  appearance: none;
  /* border: 2px solid #30cfd0; */
  border-radius: 5px;
  background-color:#ffffffb2;
  display: inline-block;
  position: relative;
  margin-right: 12px;
  cursor: pointer;
}

.checkbox-card:before{

   content: "";
  background-color: #A2C9CC;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 19px;
  height: 18px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;

}

.checkbox-card:focus,
.checkbox-card:active {

  border-color: #30cfd0; 
}

.checkbox-card:checked:before{

  transform: translate(-50%, -50%) scale(1);

}

.checkbox-card-label {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}


.Card1{

  /* border: solid #3c21d3; */
  height: 17%;
    border-radius: 12px;
    margin-bottom: 1%;
    background-color: #BDEBEB ;
}

.div-checkbox-card1{

  /* border: solid #9425c7; */
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BDEBEB ;
    border-radius: 12px;

}

.Card2{

  /* border: solid #400ec9; */
  height: 17%;
    border-radius: 12px;
    margin-bottom: 1%;
    background-color: #BDEBEB ;
}

.div-checkbox-card2{

  /* border: solid #ff2600; */
  width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BDEBEB ;
    border-radius: 12px;
}

.Card3{

  /* border: solid #9425c7; */
  height: 17%;
    border-radius: 12px;
    margin-bottom: 1%;
    background-color: #BDEBEB ;
}

.div-checkbox-card3{

  /* border: solid #1c9fb6; */
  width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BDEBEB ;
    border-radius: 12px;
}

.Card4{

  /* border: solid #33ff00; */
  height: 17%;
    border-radius: 12px;
    margin-bottom: 1%;
    background-color: #BDEBEB ;
}

.div-checkbox-card4{

  /* border: solid #f17500; */
     width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BDEBEB ;
    border-radius: 12px;

}



