@import url('https://fonts.gstatic.com/s/inknutantiqua/v16/Y4GSYax7VC4ot_qNB4nYpBdaKUUF4J3BRw.woff2');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.landing-container {
  font-family: 'Inknut Antiqua', serif;
  color: #034E61;
}

/* NAVBAR */
.landing-navbar {
  background-color: #A2C9CD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.landing-logo {
  width: 10%;
  height: 10%;
  display: block;
  justify-content: space-between;
  align-items: center;
}

.landing-nav-links a {
  color: #ffffff;
  margin-left: 20px;
  text-decoration: none;
  font-family: 'Inclusive Sans', serif;
}

/* HERO */
.landing-hero {
  text-align: center;
  background: url('/LogoLandingPage.png') center;
  background-repeat: no-repeat;
  background-size: 50%;
  width: 100%;
  height: 520px; 

}

.landing-hero h1 {
  font-size: 34px;
  margin-top: 1%;
  text-align: center;
}

.landing-hero p {
  width: 800px;
  font-size: 18px;
  line-height: 1.4;
  margin-top: 10%;
  margin-left: 24%;
  text-align: center;

}

/* CARROSSEL */
.landing-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.carousel-arrow {
  background: none;
  border: none;
  cursor: pointer;
}

.carousel-card {
  background-color: rgba(104, 159, 173, 0.9); 
  color: #ffffff;
  padding: 30px;
  width: 348px;
  height: 350px;
  text-align: center;
  border-radius: 8px;
  margin: 0 20px;
}
