.perfil-container {
  font-family: 'Inknut Antiqua', serif;
  color: #023B52;
  display: flex;
  flex-direction: column;
}


.perfil-header {
  background-color: #CFEBEE;
  padding: 3%;
  display: flex;
  align-items: center;
  gap: 3%;
}

.foto-perfil {
  width: 180px !important;
  height: 180px !important;
  border-radius: 50%;
  background: #6AB3BC;
  /* object-fit: cover; */
  margin-left: 4.5%;
  margin-top: -7.7%;
}

.perfil-info {
  margin: 1% 0%;
  margin-top: -4.5%;
}

.perfil-info p{
  margin: 1% 0%;
  font-size: 112%;
  margin-top: 4%;
}

/* Abas (histórico, avaliações, pesquisa) */
.perfil-abas {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  gap: 1.1%;
  background: #A2C9CD; /* navbar */
  padding: 11px;

}

.aba {
  background: transparent;
  border: none;
  padding: 9px 18px;
  cursor: pointer;
  font-weight: bold;
  color: #023B52;
  transition: 0.2s;
  font-size: 79%;
}

.aba.ativa {
  background: #067591; 
  color: white;
  width: 18%;
  border-radius: 8px;
  text-decoration: none;
  margin-left: 2%;
}

.perfil-pesquisa {
  margin-left: 590px;
  padding: 6px 20px;
  border: none;
  border-radius: 6px;
  color: #034E61;
  width: 16%;
}


.perfil-conteudo {
  padding: 18px;
  background: #ffffff; 
  border-radius: 8px;
  margin-top: 11px;
}


.produtos-grid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  /* width: 100%; */
}

.produto-card {
  position: relative;
  border: 1px solid #ccc;
  padding: 2%;
  width: 15.5%;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-top: -1.5%;
}

.imagem-produto {
  background: #e0e0e0;
  width: 100%;
  height: 120%;
  margin-bottom: 8%;
  margin-top: -11%;
}

.preco {
  background: #034E61;
  color: white;
  padding: 2px 9px;
  border-radius: 4px;
  font-size: 14px;
}

.container-descricao, h4{
  font-size: 90%;
  margin-top: 2%;
}

.favorito {
  position: absolute;
  top: 9%;
  right: 16%;
  color: #034E61;
  font-size: 20px;
  cursor: pointer;
}

.perfil-topo {
  width: 100%;
  height: 120px; 
  background: url('/Fundo-brinquedos.png') center;
  background-size: 100%;
  background-color: #a2c9cde0;

}

/* Menu de ajustes (três pontos) */
.menu-container {
  margin-left: auto;
  position: relative;
  top: -65px;
}

.menu-icone {
  background: none;
  border: none;
  cursor: pointer;
  color: #68A7AE;
  width: 62%;
  height: 2%;
  display: flex;
  align-items: start;
  margin-top: 15%;
  margin-left: 96%;
}

.container-ajustes{
  width: 100%;
  height: 100%;
}

.menu-ajustes {
  position: absolute;
  right: -20%;
  background: #ffffff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 410%;
  z-index: 1000;
}

.menu-ajustes h4 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #023b52;
}

.ajuste-opcao-editar, 
.ajuste-opcao-excluir, 
.ajuste-opcao-suporte {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px;
  margin-bottom: 8px;
  border: none;
  border-radius: 8px;
  background: #86BEC4;
  color: #023b52;
  font-size: 15px;
  font-family: inknut-antiqua
}

.ajuste-opcao:hover {
  background: #7ab7be;
  color: white;
}

.ajuste-opcao-excluir {
  color: #b22222;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.2s;
}

.ajuste-opcao-suporte {
  color: #ffffff;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.2s;
}

.ajuste-opcao-editar {
  color: #034E61;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.2s;
}

