.div-principal-info{
    border: 2px solid;
    width: 100%;
    height: 100vh;
}
.div-infos{
    border: 2px solid pink;
    width: 100%;
    height: 41%;
    display: flex;
    justify-content: center;
}
.texts-infos-elements{
    border: 2px solid;
    width: 30%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}
.titulo-infos{
    border: 2px solid;
    width: 85%;
    height: 15%;
    font-size: 118%;
    font-weight: 600;
    color: #03374C;
}
.text-infos{
    border: 2px solid;
    width: 85%;
    height: 70%;
}
.espacamento-infos{
    border: 2px solid;
    width: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linha-separacao{
    border: 2px solid;
    border-radius: 5px;
    width: 40%;
    height: 88%;
    background-color: #C7DEE1;
}